*{margin: 0;
padding: 0;}

.cabecalho{
    background-color:#ffafca ; 
width: 100%;
color: ghostwhite;
display: block;
justify-content: center;
}
  
  .image1{
width: 40%;

   }


.livros{
  background-image: linear-gradient(#d7a2ff,#a366d1 );
  color: ghostwhite;
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.livros-org {
 justify-content: center;
}



.sanrioo {
  background-color: #d7a2ff;
  color: cornsilk;
 

}

.org-liv{
  list-style: none;;
  display: flex;
  justify-content: space-around;
  grid-template-columns: 10% 10% 10% 10% 10% ;
  text-align: center;
}


